
*.jpg
Cesars Portfolio/Challenge 1/images/bg-pattern-desktop.svg
Cesars Portfolio/Challenge 1/images/favicon-32x32.png
Cesars Portfolio/Challenge 1/images/hero-desktop.jpg
Cesars Portfolio/Challenge 1/images/hero-mobile.jpg
Cesars Portfolio/Challenge 1/images/icon-arrow.svg
Cesars Portfolio/Challenge 1/images/icon-error.svg
Cesars Portfolio/Challenge 1/images/logo.svg
Cesars Portfolio/Challenge 1/index.html
Cesars Portfolio/Challenge 1/script.js
Cesars Portfolio/Challenge 1/styles.css
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/active-states.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/desktop-design.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/desktop-preview.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/mobile-design.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/index.html
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/README-template.md
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/README.md
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/style-guide.md
Cesars Portfolio/Challenges/images/bg-pattern-desktop.svg
Cesars Portfolio/Challenges/images/favicon-32x32.png
Cesars Portfolio/Challenges/images/hero-desktop.jpg
Cesars Portfolio/Challenges/images/hero-mobile.jpg
Cesars Portfolio/Challenges/images/icon-arrow.svg
Cesars Portfolio/Challenges/images/icon-error.svg
Cesars Portfolio/Challenges/images/logo.svg
Cesars Portfolio/Project 1/index.html
Cesars Portfolio/Project 1/script.js
Cesars Portfolio/Project 1/styles.css
Cesars Portfolio/Challenge 1/images/bg-pattern-desktop.svg
Cesars Portfolio/Challenge 1/images/favicon-32x32.png
Cesars Portfolio/Challenge 1/images/hero-desktop.jpg
Cesars Portfolio/Challenge 1/images/hero-mobile.jpg
Cesars Portfolio/Challenge 1/images/icon-arrow.svg
Cesars Portfolio/Challenge 1/images/icon-error.svg
Cesars Portfolio/Challenge 1/images/logo.svg
Cesars Portfolio/Challenge 1/index.html
Cesars Portfolio/Challenge 1/script.js
Cesars Portfolio/Challenge 1/styles.css
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/active-states.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/desktop-design.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/desktop-preview.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/design/mobile-design.jpg
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/index.html
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/README-template.md
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/README.md
Cesars Portfolio/Challenges/base-apparel-coming-soon-master/style-guide.md
Cesars Portfolio/Challenges/images/bg-pattern-desktop.svg
Cesars Portfolio/Challenges/images/favicon-32x32.png
Cesars Portfolio/Challenges/images/hero-desktop.jpg
Cesars Portfolio/Challenges/images/hero-mobile.jpg
Cesars Portfolio/Challenges/images/icon-arrow.svg
Cesars Portfolio/Challenges/images/icon-error.svg
Cesars Portfolio/Challenges/images/logo.svg
Cesars Portfolio/Project 1/index.html
Cesars Portfolio/Project 1/script.js
Cesars Portfolio/Project 1/styles.css
50 Days Projects/17-Movie App/.vscode/settings.json
